* {
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: default;
}
#root {
  display: flex;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 12em;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

h1 {
  margin-left: 40px;
  margin-top: 64px;
}
