* {
  margin: 0;
  padding: 0;
  text-transform: none;
  text-align: left;
  cursor: default;
}

:root {
  --main-color: #68acf1;
  --main-grey: #767676;
  --main-light: #eef2f9;
  --main-white: #ffffff;
  --main-black: #000000;
  --main-red: #e9776f;
  --main-green: #4dcb99;
  --boxshadow: #b5b5b529;
}

#root {
  display: flex;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-light);
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 12em;
  box-shadow: 0px 0px 20px var(--boxshadow);
  background-color: var(--main-white);
}

.App {
  width: 100%;
}

h1 {
  margin: 64px 0 40px 40px;
}

h2 {
  margin-bottom: 16px;
}
.widgets-container {
  margin-left: 24px;
  margin-right: 24px;
}

.widget {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px var(--boxshadow);
  border-radius: 20px;
  margin: 0 24px 24px 24px;
  padding: 24px;
  background-color: var(--main-white);
}
